@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

:root {
  --pre-color: #403f53;
  --bg-pre-color: #fbfbfb;
  --pre-string: rgb(39, 84, 175);
  --pre-changed: rgb(162, 191, 252);
  --pre-deleted: rgba(239, 83, 80, 0.56);
  --pre-comment: rgb(152, 159, 177);
  --pre-variable: rgb(201, 103, 101);
  --pre-number: rgb(170, 9, 130);
  --pre-punctuation: rgb(153, 76, 195);
  --pre-class-name: rgb(17, 17, 17);
  --pre-boolean: rgb(150, 59, 59);
  --pre-operator: rgb(12, 94, 100);
}

html.dark {
  --pre-color: #d6deeb;
  --bg-pre-color: #011627;
  --pre-string: rgb(173, 219, 103);
  --pre-changed: rgb(162, 191, 252);
  --pre-deleted: rgba(239, 83, 80, 0.56);
  --pre-comment: rgb(99, 119, 119);
  --pre-variable: rgb(214, 222, 235);
  --pre-number: rgb(247, 140, 108);
  --pre-punctuation: rgb(199, 146, 234);
  --pre-class-name: rgb(255, 203, 139);
  --pre-boolean: rgb(255, 88, 116);
  --pre-operator: rgb(127, 219, 202);
}

.prose pre {
  @apply border border-gray-700;
  color: var(--pre-color);
  background-color: var(--bg-pre-color);
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-300 dark:bg-gray-900;
}

.prose code[class*='language-'],
.prose pre[class*='language-'] {
  color: var(--pre-color);
  background-color: var(--bg-pre-color);
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.token.changed {
  color: var(--pre-changed);
  font-style: italic;
}

.token.deleted {
  color: var(--pre-deleted);
  font-style: italic;
}

.token.comment {
  color: var(--pre-comment);
  font-style: italic;
}

.token.variable {
  color: var(--pre-variable);
}

.token.number {
  color: var(--pre-number);
}

.token.class-name {
  color: var(--pre-class-name);
}

.token.boolean {
  color: var(--pre-boolean);
}

.token.punctuation,
.token.tag {
  color: var(--pre-punctuation);
}

.token.inserted,
.token.attr-name {
  color: var(--pre-string);
  font-style: italic;
}

.token.string,
.token.builtin,
.token.char,
.token.constant,
.token.url {
  color: var(--pre-string);
}

.token.function,
.token.selector,
.token.doctype {
  color: var(--pre-punctuation);
  font-style: italic;
}

.token.operator,
.token.property,
.token.keyword,
.token.namespace {
  color: var(--pre-operator);
}

.dark .token.builtin,
.dark .token.char,
.dark .token.constant,
.dark .token.function {
  color: rgb(130, 170, 255);
}

.dark .token.property {
  color: rgb(128, 203, 196);
}

.dark .token.namespace {
  color: rgb(178, 204, 214);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply text-gray-800 dark:text-gray-200 px-5 py-3 border border-b-0 border-gray-200 dark:border-gray-700 rounded-t bg-gray-200 dark:bg-gray-800 text-sm font-mono font-bold;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block -mx-4 px-4 bg-gray-100 dark:bg-gray-800 border-l-4 border-blue-500;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}
